@*@{ 
    dynamic data = ViewBag.Data;//for viewBag here we have mention the dynamic data type for complex viewBag code like using viewBag in BookModel data type
    var Bookinfo = ViewData["Book"] as BookModel;//for viewData here we have cast the data and datatype for complex viewData code like using viewData in BookModel data type
    
}*@
@{
    var look = ViewData["book"] as BookModel;
    ViewData["HeadTitle"] = "Home";
            }


<section class=" jumbotron text-center">
    <div class="container">
        <h1>WELCOME TO BOOKSTORE</h1>
        <p>

            @*  @data.Id <br />
        @data.Name <br />
        Id=@ViewBag.Type.Id <br />
        Name = @ViewBag.Type.Author<br />


        Id=@Bookinfo.Id <br />
        Name= @Bookinfo.Author<br />
            @ViewData["Title"] <br />
            Id = @look.Id <br />
            Name = @look.Author <br />*@

            This is a book apllication here you get all kind of books.
            whatever you want can order through this website
        </p>
        <p>
            <a href="#" class=" btn btn-primary">Search books</S></a>
        </p>
    </div>
</section>


<div class="container">
    @*<h3 class="h3">Top Books</h3>*@
    <big>Top Books</big>
    <p big>Top Books using Attribute</p>
    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="348" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="348" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="348" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>
        @section script1{
                <script>
                    $(document).ready(function() {
                        //alert("document is ready");
                    })
                </script>
            }


    </div>

</div>
